*{
    box-sizing: border-box;
}
body{
    background-color: rgb(81, 131, 120);
}
main{
    margin: auto;
    width: 54.3%;
    background-color: rgb(243, 243, 243);
}
nav{
    background-color: rgb(8, 79, 107);
    grid-area: n;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
    margin-bottom: 0px;
    padding-left: 0px;
}
li{
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
}
li:hover{
    background-color: rgb(80, 5, 150);
}
a{
    text-decoration: none;
    color: beige;
}
a:hover{
    color: rgb(38, 7, 66);
}
header{
    grid-area: h;
}
aside{
    padding: 10px;
    border: 1px solid grey;
    margin: 2px;
    grid-area: as;
}
article{
    padding: 10px;
    border: 1px solid grey;
    margin: 2px;
    grid-area: a;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
section{
    padding: 10px;
    border: 1px solid grey;
    margin: 2px;
    grid-area: s;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
h2{
    border: 1px solid grey;
    margin: 0px;
    padding: 10px;
    background-color: rgb(169, 209, 196);
}
.kepek{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
img{
    width: 100%;
}
.tartalom2{
    padding-right: 10px;
}
.tartalom2{
    padding-right: 10px;
}
footer{
    background-color: rgb(8, 79, 107);
    grid-area: f;
}
footer p{
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 1000px) {
    section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .kepek{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    article{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
table{
    border-collapse: collapse;
    border: 1px solid grey;
}
tr{
    border: 1px solid grey;
    padding: 5px;
}
td{
    border: 1px solid grey;
    padding: 5px;
}
tr:nth-child(odd){
    background-color: rgb(169, 209, 196);
}
tr:hover{
    background-color: rgb(197, 165, 209);
}